<div class="row">
  <div class="col-md-offset-8 col-md-4">
    <%= link_to 'Find Clubs', all_club_path, class:"btn btn-primary", style:"float: right; text-decoration: none"%> 
    <%= link_to 'Create Club', new_club_path, class:"btn btn-success", style:"float: right; text-decoration: none; margin-right: 15px" %>
  </div>
</div>

<h2> Clubs Affiliated to You </h2>

<h2>Owned Clubs</h2>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% (Club.where(owner_id: current_user.id)).each do |club| %>
      <tr>
        <td><%= link_to club.name, club %></td>
        <td><%= club.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h2>Administrated Clubs</h2>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<%admin = Administrator.find_by(adminId: current_user.id)%>
  	<%if admin%>
	    <% admin.clubs.each do |club| %>
	      <%if club.approved%>
		      <tr>
		        <td><%= link_to club.name, club %></td>
		        <td><%= club.description %></td>
		      </tr>
	      <% end %>
	    <% end %>
    <%end%>
  </tbody>
</table>
<br>

<h2>Joined Clubs</h2>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.clubs.each do |club| %>
      <tr>
        <td><%= link_to club.name, club %></td>
        <td><%= club.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h2>Followed Clubs</h2>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<%follower = Follower.find_by(followId: current_user.id)%>
  	<%if follower%>
	    <% follower.clubs.each do |club| %>
	      <%if club.approved%>
		      <tr>
		        <td><%= link_to club.name, club %></td>
		        <td><%= club.description %></td>
		      </tr>
	      <% end %>
	    <% end %>
    <%end%>
  </tbody>
</table>
<br>

