<h1>Listing clubs</h1>
<h2>Own Clubs</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.clubs.each do |club| %>
      <tr>
        <td><%= link_to club.name, club %></td>
        <td><%= club.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h2>All Clubs</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
	  <%if club.approved%>
	    <tr>
	      <td><%= link_to club.name, club %></td>
	      <td><%= club.description %></td>
	    </tr>
      <%end%>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Club', new_club_path %>
