<div class="row">
  <div class="col-md-offset-8 col-md-4">
    <%= link_to 'Find Clubs', all_club_path, class:"btn btn-primary", style:"float: right; text-decoration: none"%> 
    <%= link_to 'Create Club', new_club_path, class:"btn btn-success", style:"float: right; text-decoration: none; margin-right: 15px" %>
  </div>
</div>

<div class="col-md-8">
  <div class="row">
    <div class="col-md-6">
      <h3> Clubs You Administrate </h3>
      <div class="list-group">
        <% @administer.each do |admin| %>
        <div class="list-group-item">
          <%= link_to(admin, style:"text-decoration:none") do %>
            <div class="list-group-item-heading">
              <%= admin.name %>
            </div>  
            <div class="list-group-item-body">
              <%= admin.description %>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <h3> Clubs You've Joined </h3>
      <div class="list-group">
        <% if @clubs != nil %>
          <% @clubs.each do |club| %>
            <% if club.approved == true %>
              <div class="list-group-item">
                <%= link_to(club, style:"text-decoration:none") do %>
                  <div class="list-group-item-heading">
                    <%= club.name %>
                  </div>  
                  <div class="list-group-item-body">
                    <%= club.description %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <% if @clubs == nil %>
          <div class="list-group-item">
            You've joined no clubs! Or they aren't approved!
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3> Clubs You're Following </h3>
      <div class="list-group">
        <% if @follows != nil %>
          <% @follows.each do |follow| %>
            <% if follow.approved == true %>
              <div class="list-group-item">
                <%= link_to(follow, style:"text-decoration:none") do %>
                  <div class="list-group-item-heading">
                    <%= follow.name %>
                  </div>  
                  <div class="list-group-item-body">
                    <%= follow.description %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if @follows == nil %>
        <div class="list-group-item">
          You're following no clubs!
        </div>
      <% end %>
    </div>
  </div>
</div>

