<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>


<%if @club.users.include? current_user%>
	<%= link_to "Leave Club", leave_club_path(@club.id) %> |
<%else%>
	<%= link_to "Join Club", join_club_path(@club.id) %> |
<%end%>

<%= link_to "Follow", follow_club_path(@club.id) %> |

<!-- check if the current user is Administrator for the club /-->
<%isAdmin = false%>
<%@club.administrators.each do |admin|%>
	<%if admin.adminId == current_user.id%>
		<%isAdmin = true%>
	<%end%>
<%end%>
<%if @club.owner_id == current_user.id%>
	<%isAdmin = true%>
	<%= link_to "Deregister Club", @club, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>

<%if isAdmin%>
	<%= link_to "Edit Club Profile", edit_club_path(@club) %> |
	
<%end%>
<%= link_to 'Back', clubs_path %>
