<p id="notice"><%= notice %></p>

<h1>Club Details</h1>
<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @club.description %>
</p>
<p>
  <strong>Founded:</strong>
  <%= @club.created_at %>
</p>

<h1>Members Area</h1>

<h2>Commitee Details</h2>

  <h3>Owner: </h3>
<p>
  <%owner = User.find_by(id: @club.owner_id)%>
  <%= owner.full_name %> |
  <%= owner.email%> |
  <%= owner.phone_number%>
</p>
<h3>Administrators</h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @club.administrators.each do |admin| %>
     <%adminUser = User.find_by(id: admin.adminId)%>
      <tr>
        <td><%= adminUser.full_name %></td>
        <td><%= adminUser.email %></td>
        <td><%= adminUser.phone_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


<!-- check if the current user is Administrator for the club /-->
<%isAdmin = false%>
<%if ((@club.administrators.include? Administrator.find_by(adminId: current_user.id)) || (@club.owner_id == current_user.id))%>
	<%isAdmin = true%>
<%end%>


<%if @club.approved%>
<h2>Events hosted by the club</h2>
<table>
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Date</th>
      <th>Place</th>
      <th>Description</th>
      <th>Last Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hosted_events.each do |event| %>
	    <% if (@club.users.include? current_user) || (!event.memberOnly)%>
	      <tr>
	        <td><%= link_to event.name, event %></td>
	        <td><%= event.date %></td>
	        <td><%= event.place %></td>
	        <td><%= event.description%></td>
	        <td><%= event.updated_at %></td>
	        <%if isAdmin%>
		        <td><%= link_to 'Edit', edit_event_path(event) %></td>
		        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		    <%end%>
	      </tr>
	    <%end%>
    <% end %>
  </tbody>
</table>
<h2>Events shared by other clubs</h2>
<table>
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Date</th>
      <th>Place</th>
      <th>Description</th>
      <th>Last Updated</th>
      <th>Hosted by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @approved_list.each do |event| %>    
    	<% if (@club.users.include? current_user) || (!event.memberOnly)%>
	      <tr>
	        <td><%= link_to event.name, event %></td>
	        <td><%= event.date %></td>
	        <td><%= event.place %></td>
	        <td><%= event.description%></td>
	        <td><%= event.updated_at %></td>
	        <td><%= link_to Club.find(event.club_id).name, Club.find(event.club_id) %></td>
	      </tr>
      	<% end %>
    <% end %>
  </tbody>
</table>
<h2>Announcements</h2>
<table>
  <thead>
    <tr>
      <th>Announcement</th>
      <th>Last Updated</th>
      <th>Added by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @club.club_announcements.each do |club_announcement| %>
    	<% if (@club.users.include? current_user) || (!event.memberOnly)%>
	      <tr>
	        <td><%= link_to club_announcement.title, club_announcement %></td>
	        <td><%= club_announcement.updated_at %></td>
	        <td><%= User.find(club_announcement.user_id).full_name %></td>
	        <%if isAdmin%>
		        <td><%= link_to 'Edit', edit_club_announcement_path(club_announcement) %></td>
		        <td><%= link_to 'Destroy', club_announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		    <%end%>
	      </tr>
      	<% end %>
    <% end %>
  </tbody>
</table>
<%if isAdmin%>
	<h2>Shared Events Pending Acceptance</h2>
	<table>
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Date</th>
      <th>Place</th>
      <th>Description</th>
      <th>Last Updated</th>
      <th>Hosted by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	<% @pendingrequest.each do |event| %>
  	  <% sharedEvent = SharedEvent.where(eventId: event.id,clubId: @club.id).take %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td><%= event.date %></td>
        <td><%= event.place %></td>
        <td><%= event.description%></td>
        <td><%= event.updated_at %></td>
        <td><%= link_to Club.find(event.club_id).name, Club.find(event.club_id) %></td>
        <td><%= link_to 'Accept', approve_event_path(@club.id,sharedEvent.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<!--  links to actions /-->
	<% if !isAdmin%>
		<%if @club.users.include? current_user%>
			<%= link_to "Leave Club", leave_club_path(@club.id) %> |
		<%else%>
			<%= link_to "Join Club", join_club_path(@club.id) %> |
		<%end%>
	<%end%>
	
	<%= link_to "Follow", follow_club_path(@club.id) %> |
	
	
	<%if isAdmin%>
		<%= link_to 'New Event', new_event_path(@club.id) %> |
		<%= link_to 'Add Announcement', new_club_announcement_path(@club.id) %> |
	<%end%>
<%else%>
<h1>Club is pending approval</h1>
	<%if current_user.csadmin%>
		<%= link_to "Approve Club", approve_club_path(@club.id), data: { confirm: 'Are you sure?' }  %> |
	<%end%>
<%end%>

<%if isAdmin%>
	<%= link_to "Edit Club Profile", edit_club_path(@club) %> |
<%end%>
<%if @club.owner_id == current_user.id%>
	<%= link_to "Deregister Club", @club, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>

<%= link_to 'Back', clubs_path %>
