<div id="eventLeft">
	<p id="notice"><%= notice %></p>
	<div id="eventBanner">
		<% if @event.banner.file? %>
			<%= image_tag @event.banner.url , :class =>'bannerImg'%>
		<% end %>
	</div>
	<div id="eventImage">
		<% if @event.image1.file? %>
			<%= image_tag @event.image1.url , :class =>'Imgs'%>
		<% end %>
		<% if @event.image2.file? %>
			<%= image_tag @event.image2.url , :class =>'Imgs'%>
		<% end %>
		<% if @event.image3.file? %>
			<%= image_tag @event.image3.url , :class =>'Imgs'%>
		<% end %>
	</div>
	<div id="eventDetails">
		<%= @event.name %></br>
		<div id="detailsAlign">
			Date:<%= @event.date %></br></br>
			Venue:<%= @event.place %></br></br>
			Member Only:<%= @event.memberOnly %></br></br>
			Event Website:<%= @event.website %>
		</div>
	</div>
	<div id="eventDetails2">
		<div id="collab">
			Attendees</br>
			Clubs involved</br>
			Network</br>
		</div>
		<div id="description">
			<%= @event.description %>
		</div>
		<div id="discussion">
			Discussion
		</div>
	</div>
	
</div>
<div id="eventRight">
	<div id="adminTools">
		<h4>Admin Tools</h4>
		Attendee List</br></br>
		<%= link_to 'Edit', edit_event_path(@event) %> </br></br>
		<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>

	</div>
	<div id="ticketing">
		</br>Ticket Price: <%= @event.price %></br></br>
		Sale Location: <%= @event.salesLocation %></br>
		<div id="terms">
			
		</div>
		Follow</br></br>
		<%= link_to "Reserve Ticket", reserve_event_path(@event) %>
	</div>
	</br></br>
	<%= link_to 'All Events', events_path %>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$('#eventImage').cycle({
		fx: 'fade'
		
	});
});
</script>