<div id="eventLeft">
	<p id="notice"><%= notice %></p>
	<div id="eventBanner">
		<% if @event.banner.file? %>
			<%= image_tag @event.banner.url , :class =>'bannerImg'%>
		<% end %>
	</div>
	<div id="eventImage">
		<% if @event.image1.file? %>
			<%= image_tag @event.image1.url , :class =>'Imgs'%>
		<% end %>
		<% if @event.image2.file? %>
			<%= image_tag @event.image2.url , :class =>'Imgs'%>
		<% end %>
		<% if @event.image3.file? %>
			<%= image_tag @event.image3.url , :class =>'Imgs'%>
		<% end %>
	</div>
	<div id="eventDetails">
		<%= @event.name %></br>
		<div id="detailsAlign">
			Date:<%= @event.date %></br></br>
			Venue:<%= @event.place %></br></br>
			Member Only:<%= @event.memberOnly %></br></br>
			Event Website:<%= @event.website %>
		</div>
	</div>
	<div id="eventDetails2">
		<div id="collab">
			Attendees :<%= @event.attendees %></br>
			Remaining Tickets :<%= @event.remaining_tickets %></br>
			Clubs involved : <% @shared_club.each do |club| %>
								<%= club.name %></br>
							 <% end %>
		</div>
		<div id="description">
			<%= @event.description %>
		</div>
		<div id="discussion">
			<h1>Listing discussions</h1>
				<table>
				  <thead>
				    <tr>
				      <th>Topic</th>
				      <th>Description</th>
				      <th>Started at</th>
				      <th>Started by</th>
				      <th colspan="3"></th>
				    </tr>
				  </thead>
				
				  <tbody>
				    <% @event.discussions.each do |discussion| %>
				      <tr>
				        <td><%= link_to discussion.topic, discussion %></td>
				        <td><%= discussion.description %></td>
				        <td><%= discussion.created_at %></td>
				        <td><%= User.find(discussion.user_id).full_name%></td>
				        <%if discussion.user_id == current_user.id%>
					        <td><%= link_to 'Edit', edit_discussion_path(discussion) %></td>
					        <td><%= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				        <%end%>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
				
				<br>
				
				<%= link_to 'New Discussion', new_discussion_path(@event.id) %>
		</div>
	</div>
	
</div>
<!-- check if the current user is Administrator for the club /-->
<%isAdmin = false%>
<%if ((@curr_club.administrators.include? Administrator.find_by(adminId: current_user.id)) || (@curr_club.owner_id == current_user.id))%>
	<%isAdmin = true%>
<%end%>

<div id="eventRight">
	<div id="adminTools">
		<%if isAdmin%>
			<h4>Admin Tools</h4>
			Share Event Here</br></br>
			<%= form_tag(share_event_path, method:"get", multipart: true) do %>
				<% @unshared_club.each do |club| %>
					<%= check_box_tag("club_list[]", value=club.id) %>
					<%= label_tag(club.id, club.name)%>
					</br>
		        <% end %>
		        <%= submit_tag("Share Event") %>
	        <% end %>
			<%= link_to 'Edit', edit_event_path(@event) %> </br></br>
			<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</div>
	<div id="ticketing">
		</br>Ticket Price: <%= @event.price %></br></br>
		Sale Location: <%= @event.salesLocation %></br>
		<div id="terms">
			
		</div>
		Follow</br></br>
		<% if (@curr_club.users.include? current_user) || (!@event.memberOnly)%>

			<%= form_tag(reserve_event_path, method:"get", multipart: true) do %>
				No. of tickets:
				<%= select_tag("ticket_nums", options_for_select([['1','1'],['2','2'],['3','3'],['4','4'],['5','5']])) %>
				<%= submit_tag("Reserve Ticket") %>
			<% end %>	
		<% end %>	
	</div>
	</br></br>
	<%= link_to 'All Events', events_path %>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$('#eventImage').cycle({
		fx: 'fade'
		
	});
});
</script>