<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Memberonly:</strong>
  <%= @event.memberOnly %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price %>
</p>

<p>
  <strong>Website:</strong>
  <%= @event.website %>
</p>

<p>
  <strong>Imagepath:</strong>
  <%= @event.imagePath %>
</p>

<p>
  <strong>Bannerpath:</strong>
  <%= @event.bannerPath %>
</p>

<p>
  <strong>Saleslocation:</strong>
  <%= @event.salesLocation %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
