<!DOCTYPE html>
<html>
<head>
    <title>Clubbiz</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- include jQuery library -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<!-- include Cycle plugin -->
<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
    <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#clubbiz-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ClubBiz</a>
            </div>

            <div class="collapse navbar-collapse" id="clubbiz-navbar">
                <ul class="nav navbar-nav">
                    <% if !current_user %>
                    <li><a href="/">Home</a></li>
                    <% end %>
                    <li><a href="/about">About</a></li>
                    <% if current_user %>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/clubs">Clubs</a></li>
                    <li><a href="/events">Events</a></li>
                    <% end %>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <% if user_signed_in? %>
                          <li>
                          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
                          </li>
                        <% else %>
                          <li>
                          <%= link_to('Login', new_user_session_path)  %>  
                          </li>
                        <% end %>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="container">
        <%= yield %>
    </div>
</body>
</html>
